.c-container-artist {
  margin-top: 30px;
  margin-left: 40px;

  &__title {
    display: flex;
    font-weight: bold;
    text-align: left;
    justify-content: left;
    padding-bottom: 1px;
    margin-bottom: 20px;
    color: #3a3a3a;
    margin-top: 90px;
  }
}
a {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  color: #eabb00;
}
form {
  width: 100%;
  text-align: left;
  justify-content: left;
}

form label {
  display: flex;
  font-size: 12px;
  color: #3a3a3a;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: left;
  justify-content: left;
  width: 100%;
  margin-top: 10px;
}

form input {
  width: 40%;
  padding: 5px;
  color: rgb(177, 174, 174);
  border: 1px solid rgb(160, 157, 157);
  border-radius: 6px;
}

.b-button-form {
  display: flex;
  text-align: left;
  justify-content: left;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 6px;
  margin-top: 10px;
  background-color: #d4d4d4;
  border: 1px solid #cccc;
  cursor: pointer;
  color: #939393;
  border-radius: 10px;
}
