<form [formGroup]="formGroupArtist">
  <div class="c-container-artist">
    <a class="fa fa-long-arrow-left" routerLink="/artists"> back to artists</a>
    <h2 class="c-container__artist__title">Add new artist</h2>
    <p>
      <label for="name"></label>
      <input type="text" id="name" formControlName="name" placeholder="name" />
    </p>
    <p>
      <label for="photoUrl"></label>
      <input
        type="url"
        id="photoUrl"
        formControlName="photoUrl"
        placeholder="photoUrl"
      />
    </p>

    <button class="b-button-form" (click)="createArtist()">
      Add new artist
    </button>
  </div>
</form>
