<div class="c-album-detail">
  <div class="c-album-detail__container">
    <img src="{{ album.coverUrl }}" class="c-album-detail__image" />
    <h3>{{ album.title }}</h3>
    <p class="c-album-detail__year">{{ album.year }}</p>
    <p class="c-album-detail__genre">{{ album.genre }}</p>
  </div>
</div>
