.c-album-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__container {
    margin: 16px 0;
    text-align: center;
    cursor: pointer;
  }

  &__image {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  & h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }

  &__year {
    display: flex;
    margin-top: 4px;
    justify-content: center;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: lightgreen;
  }

  &__ genre {
    display: flex;
    margin-bottom: 4px;
    justify-content: center;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: lightgreen;
  }
}
