.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 32px;
  margin-right: 32px;
  font-family: "Roboto";

  &__container {
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: left;
  }

  &__button {
    padding-left: 8px;
    color: rgb(61, 60, 60);
    cursor: pointer;
    border: none;
    font-size: 16px;
  }

  &__year {
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    justify-content: left;
  }

  &__genre {
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    justify-content: left;
  }
}
