<div class="c-gallery">
  <div class="c-gallery__container">
    <img class="c-gallery__img" src="{{ album.coverUrl }}" alt="" />

    <figcaption class="c-gallery__title">
      {{ album.title }}
      <button
        (click)="deleteAlbum(album._id)"
        class="c-gallery__button fa fa-trash-o"
      ></button>
    </figcaption>
    <figcaption class="c-gallery__year">{{ album.year }}</figcaption>
    <figcaption class="c-gallery__genre">{{ album.genre }}</figcaption>
  </div>
</div>
