.c-backgroundImg {
  display: flex;
  width: 100%;
  min-height: 900px;
  background-image: url(../../../assets/mini-concert-in-my-ears-with-brant-new-earphones-portrait-of-charming-carefree-african-woman-in-stylish-dungarees-holding-smartphone-and-dancing-joyfully-while-listening-music-earbuds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  background-position: center center;
}
