<app-fiter-album (filterEmitter)="filterAlbums($event)"></app-fiter-album>
<button class="b-button-create">
  <a routerLink="/create">Add new Album</a>
</button>
<app-album-page
  [albums]="albums"
  (deleteClickEmitter)="deleteAlbum($event)"
></app-album-page
>;
