.b-button-create {
  position: absolute;
  width: 120px;
  margin-top: -26px;
  cursor: pointer;
  border: none;
  height: 34px;
  left: 80px;
  background-color: #ffcd06;
  border-radius: 6px;
  & a {
    list-style: none;
    text-decoration: none;
    color: rgb(51, 50, 50);
  }
}
