<form [formGroup]="formGroupAlbum">
  <div class="c-container">
    <a class="fa fa-long-arrow-left" routerLink="/albums"> back to albums</a>
    <h2 class="c-container__title">Add new album</h2>
    <p>
      <label for="title">Name of the album</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="title"
      />
    </p>
    <p>
      <label for="coverUrl">Picture of the cover of the album</label>
      <input
        type="url"
        id="coverUrl"
        formControlName="coverUrl"
        placeholder="coverUrl"
      />
    </p>
    <p>
      <label for="year">Year</label>
      <input type="text" id="year" formControlName="year" placeholder="year" />
    </p>
    <p>
      <label for="genre">Genre</label>
      <input
        type="text"
        id="genre"
        formControlName="genre"
        placeholder="genre"
      />
    </p>
    <button (click)="createAlbum()">Add new album</button>
  </div>
</form>
