.b-button-create-artist {
  position: absolute;
  width: 120px;
  margin-top: 32px;
  cursor: pointer;
  border: none;
  height: 34px;
  left: 140px;
  background-color: #ffcd06;
  border-radius: 6px;
  color: rgb(51, 50, 50);
}
