<div class="c-gallery">
  <div class="c-gallery__container">
    <img class="c-gallery__img" src="{{ artist.photoUrl }}" alt="" />
    <figcaption class="c-gallery__name">
      {{ artist.name }}
      <button
        (click)="deleteArtist(artist._id)"
        class="c-gallery__button fa fa-trash-o"
      ></button>
    </figcaption>
    <figcaption class="c-gallery__birthdate">{{ artist.birthdate }}</figcaption>
    <figcaption class="c-gallery__deathDate">{{ artist.deathDate }}</figcaption>
  </div>
</div>
