<div class="row">
  <div *ngFor="let artist of artists; let i = index" class="col-12 col-md-3">
    <div routerLink="/artist/{{ artist._id }}">
      <app-artist-component
        [artist]="artist"
        (deleteClickEmitter)="deleteArtist($event)"
      ></app-artist-component>
    </div>
  </div>
</div>
