// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-kenjochallenge-primary: mat-palette($mat-indigo);
$angular-kenjochallenge-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-kenjochallenge-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-kenjochallenge-theme: mat-light-theme(
  (
    color: (
      primary: $angular-kenjochallenge-primary,
      accent: $angular-kenjochallenge-accent,
      warn: $angular-kenjochallenge-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-kenjochallenge-theme);

@import "~bootstrap/scss/bootstrap-grid";
@import "styles/imports/generic.imports";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../src/assets/fonts/Montserrat-Medium.ttf");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 900px;
  min-width: 100%;
  font-family: "Roboto";
  color: #3a3a3a;
}
