.sidenav-container {
  flex: 1;
  .sidenav {
    min-width: 240px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }

    a:hover {
      background-color: #ffcd06;
    }
  }
  main {
    padding: 18px 24px;
  }
}
