<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    autoFocus="false"
    mode="over"
    [(opened)]="opened"
    class="sidenav"
  >
    <a mat-button routerLink="" [routerLinkActive]="{ exact: true }">Home</a>
    <a mat-button routerLink="/artists">Artists</a>
    <a mat-button routerLink="/albums">Albums</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <button mat-button class="menu-button" (click)="opened = !opened">
        <a routerLink="/">
          <img src="../../../assets/Group 6.svg" />
        </a>
      </button>

      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
