<form [formGroup]="formAlbumSearch" class="c-album-search">
  <label for="genre"></label>
  <input
    id="genre"
    type="text"
    class="c-album-search__input"
    formControlName="genre"
    placeholder="genre"
  />

  <button (click)="filter()" class="b-button-filter">Filter</button>
</form>
