.c-album-search {
  display: flex;
  margin-right: 28px;

  & label {
    width: 80%;
  }

  & input {
    border-radius: 4px;
    border: 0, 0, 0 1px solid grey;
    color: rgb(196, 196, 196);
    margin-right: 4px;
  }
}

.b-button-filter {
  height: 24px;
  background-color: #ffcd06;
  border: 1px solid #cccc;
  cursor: pointer;
  border-radius: 4px;
}
